{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTD Login Form</title>
    <link rel="stylesheet" href="{% static 'sign_in_style.css' %}">
</head>

<body>
    <section>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="box">
            <div class="square" style="--i:0;"></div>
            <div class="square" style="--i:1;"></div>
            <div class="square" style="--i:2;"></div>
            <div class="square" style="--i:3;"></div>
            <div class="square" style="--i:4;"></div>
            <div class="container">
                <div class="form">
                    <h2>Resister / Sign in</h2>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="inputbox">
                            <input type="text" placeholder="Username" name="username">
                        </div>
                        <!-- <div class="inputbox">
                                <input type="text" placeholder="First Name" name="first_name">
                            </div> -->
                        <!-- <div class="inputbox">
                                <input type="text" placeholder="Last Name" name="last_name">
                            </div> -->
                        <div class="inputbox">
                            <input type="email" placeholder="Email" name="email">
                        </div>
                        <div class="inputbox">
                            <input type="password" placeholder="Password" name="password1">
                        </div>
                        <div class="inputbox">
                            <input type="password" placeholder="Confirm Password" name="password2">
                        </div>
                        <div class="inputbox">
                            <button type="submit" name="submit">Register</button>
                            <input type="hidden" name="next" value="{% url 'users:homepage' %}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>